@model MVC_Windows.Models.Record

@{
    ViewData["Title"] = "Home Page";
}
@{ 
    var test = ViewBag.Message;

}

<div class="text-center">
    <h1 class="display-4">@test.RecordName </h1>




    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
